* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* ADD A SANS SERIF DEFAULT FONT HERE */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* CHANGE THE BACKGROUND COLOR TO WHEAT */
    background-color: wheat;
    
}


img {
    margin-bottom: 20px;
}

h2 {
    font-family: serif;
    font-style: italic;
}

#container {
    width: 900px;
    margin: 0 auto;
    min-height: 100vh;
    /* CHANGE THE BACKGROUND COLOR TO WHITE
    AND ADD A LIGHT GREY BORDER ON THE LEFT AND RIGHT */
    background-color: white;
    border-left-style: solid;
    border-right-style: solid;
    border-color: lightgray;
    border-width: 1px;
}

#header {
    padding: 20px;
    /* CHANGE THE TEXT COLOR TO WHITE AND
    THE BACKGROUND COLOR SHOULD BE #79b5f1 */
    color: white;
    background-color: #79b5f1;
}

#nav {
    display: flex;
    background-color: lightgrey;
    list-style-type: none;
    height: 50px;
    align-items: center;
    /* CHANGE THE BACKGROUND COLOR TO LIGHT GRAY
    REMOVE THE BULLET POINTS
    SHOULD YOU CHANGE THE WIDTH?
    WHAT ABOUT PADDING?
    DISPLAY THIS CONTAINER'S CHILDREN SIDE BY SIDE */
}

#nav a {
    /* REMOVE THE UNDERLINES
    ADD SPACE BETWEEN THE LINKS */
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

main {
    padding: 20px;
}

img {
    margin-top: 20px;
}

