* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* ADD A SANS SERIF DEFAULT FONT HERE */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* CHANGE THE BACKGROUND COLOR TO WHEAT */
    background-color: wheat;
}

p,
img {
    margin-bottom: 20px;
}

#container {
    width: 900px;
    margin: 0 auto;
    height: 100vh;
    /* CHANGE THE BACKGROUND COLOR TO WHITE
    AND ADD A LIGHT GREY BORDER ON THE LEFT AND RIGHT */
    background-color: white;
    border-left-style: solid;
    border-right-style: solid;
    border-color: lightgray;
    border-width: 1px;
}

#header {
    padding: 20px;
    /* CHANGE THE TEXT COLOR TO WHITE AND
    THE BACKGROUND COLOR SHOULD BE #79b5f1 */
    color: white;
    background-color: #79b5f1;
}

/*
ASIDE AND MAIN MUST BE SIDE BY SIDE
ADD THE CORRECT PROPERTIES TO THEIR RULE SETS
*/

aside {
    width: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align:top;
}

main {
    width: 640px;
    padding: 20px;
    display: inline-block;
    vertical-align:top;
}

#nav {
    /* REMOVE THE BULLET POINTS */
    list-style: none;
}

#nav a {
    text-decoration: none;
    /* REMOVE THE UNDERLINES */
}