* {
    margin: 0;
    padding: 0;
}

.center-box {
    display: flex;
    width: 100%;
    height: 250px;
    background-color: navy;
    align-items: center;
    justify-content: center;
}

.center-item{
    width: 100px;
    height: 100px;
    background-color: papayawhip;
    
}